Repository dorixdev/react-dual-scroll-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, pretty-quick --staged, eslint --cache --fix

.lintstagedrc:

{
	"*.{css,scss,styled.ts}": ["stylelint --fix"],
	"*.{js,jsx,ts,tsx,md,html,json}": ["pretty-quick --staged"],
	"*.{js,jsx,ts,tsx}": ["eslint --cache --fix"]
}

chore: :memo: create CHANGELOG.md with initial version and features
  CHANGELOG.md
Due: pretty-quick --staged

feat: :sparkles: add scrollToSectionView utility function for smooth scrolling
  lib/utils/index.ts
  lib/utils/scrollToSectionView.ts
Due: pretty-quick --staged, eslint --cache --fix

feat: :sparkles: implement useScrollSyncObserver hook for synchronized scrolling behavior
  lib/hooks/index.ts
  lib/hooks/useScrollSyncObserver.ts
Due: pretty-quick --staged, eslint --cache --fix

feat: :label: add ScrollSync types for component props and structure
  lib/components/ScrollSync/ScrollSync.types.ts
Due: pretty-quick --staged, eslint --cache --fix

style: :lipstick: add SCSS styles and tokens for ScrollSync component
  lib/components/ScrollSync/ScrollSync.module.scss
  lib/scss/_tokens.scss
  lib/scss/index.scss
  lib/scss/tokens.css.scss
Due: stylelint --fix

feat: :sparkles: implement ScrollSync component with navigation and content sections
  lib/components/ScrollSync/ScrollSync.tsx
  lib/components/ScrollSync/index.ts
  lib/index.ts
Due: pretty-quick --staged, eslint --cache --fix

test: :white_check_mark: add tests for ScrollSync component and utility functions
  lib/components/ScrollSync/ScrollSync.test.tsx
  lib/hooks/useScrollSyncObserver.test.tsx
  lib/setupTests.ts
  lib/utils/scrollToSectionView.test.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: :wrench: add Storybook configuration files for component documentation
  .storybook/main.ts
  .storybook/preview.ts
Due: pretty-quick --staged, eslint --cache --fix

docs: :memo: add documentation and stories for ScrollSync component
  lib/components/ScrollSync/ScrollSync.docs.mdx
  lib/components/ScrollSync/ScrollSync.stories.tsx
Due: pretty-quick --staged, eslint --cache --fix

docs: :memo: add README.md with project description, features, installation, and usage examples
  README.md
Due: pretty-quick --staged

chore: update changelog scripts and add conventional changelog dependencies
  package.json
  pnpm-lock.yaml
Due: pretty-quick --staged

chore: :wrench: add changelog configuration for conventional commits
  changelog.config.js
Due: pretty-quick --staged, eslint --cache --fix

chore: :memo: update changelog format
  CHANGELOG.md
Due: pretty-quick --staged

chore: unhide 'test' section in changelog configuration
  changelog.config.js
Due: pretty-quick --staged, eslint --cache --fix

chore: :bookmark: update version to 1.0.0
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore: :memo: update package name and links to reflect 'react-dual-scroll-sync'
  CHANGELOG.md
  README.md
  package.json
Due: pretty-quick --staged

chore: :memo: update library name to 'DualScrollSync' in vite configuration
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: :sparkles: migrate styles from ScrollSync to DualScrollSync and update token names
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/ScrollSync/ScrollSync.module.scss
  lib/scss/tokens.css.scss
Due: stylelint --fix

docs: :sparkles: add documentation and stories for DualScrollSync component
  lib/components/DualScrollSync/DualScrollSync.docs.mdx
  lib/components/DualScrollSync/DualScrollSync.stories.tsx
Due: pretty-quick --staged, eslint --cache --fix

feat: :sparkles: add types for DualScrollSync component
  lib/components/DualScrollSync/DualScrollSync.types.ts
Due: pretty-quick --staged, eslint --cache --fix

feat: :sparkles: rename useScrollSyncObserver to useDualScrollSyncObserver and update export
  lib/hooks/index.ts
  lib/hooks/useDualScrollSyncObserver.ts
Due: pretty-quick --staged, eslint --cache --fix

feat: :sparkles: implement DualScrollSync component and update exports
  lib/components/DualScrollSync/DualScrollSync.tsx
  lib/components/DualScrollSync/index.ts
  lib/components/ScrollSync/index.ts
  lib/index.ts
Due: pretty-quick --staged, eslint --cache --fix

test: :white_check_mark: add tests for DualScrollSync component and its hooks
  lib/components/DualScrollSync/DualScrollSync.test.tsx
  lib/hooks/useDualScrollSyncObserver.test.tsx
Due: pretty-quick --staged, eslint --cache --fix

chore: :bookmark: update version to 1.1.0 in package.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

docs: :memo: update README with improved badge links and demo image
  README.md
Due: pretty-quick --staged

chore: :bookmark: update version to 1.1.1 in package.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

docs: :memo: reorganize README structure and update demo image size
  README.md
Due: pretty-quick --staged

chore: :bookmark: update version to 1.1.2 in package.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

docs: :memo: enhance DualScrollSync component with improved styling and documentation
  .storybook/preview-head.html
  .storybook/preview.ts
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/stories/DualScrollSync.docs.mdx
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/stories/mocks/MockChip.tsx
  lib/components/DualScrollSync/stories/mocks/MockContentSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockFilterSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockPriceInput.tsx
  lib/components/DualScrollSync/stories/mocks/index.ts
  lib/hooks/useDualScrollSyncObserver.ts
Due: stylelint --fix, pretty-quick --staged, eslint --cache --fix

docs: :memo: enhance DualScrollSync component with improved styling and documentation (#1)
  .storybook/preview-head.html
  .storybook/preview.ts
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/stories/DualScrollSync.docs.mdx
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/stories/mocks/MockChip.tsx
  lib/components/DualScrollSync/stories/mocks/MockContentSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockFilterSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockPriceInput.tsx
  lib/components/DualScrollSync/stories/mocks/index.ts
  lib/hooks/useDualScrollSyncObserver.ts
Due: stylelint --fix, pretty-quick --staged, eslint --cache --fix

chore: promote develop to main (#2)
  .storybook/preview-head.html
  .storybook/preview.ts
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/stories/DualScrollSync.docs.mdx
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/stories/mocks/MockChip.tsx
  lib/components/DualScrollSync/stories/mocks/MockContentSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockFilterSection.tsx
  lib/components/DualScrollSync/stories/mocks/MockPriceInput.tsx
  lib/components/DualScrollSync/stories/mocks/index.ts
  lib/hooks/useDualScrollSyncObserver.ts
Due: stylelint --fix, pretty-quick --staged, eslint --cache --fix

chore: add release-please configuration and manifest files
  .release-please-manifest.json
  release-please-config.json
Due: pretty-quick --staged

chore: update release-please configuration to include changelog types
  release-please-config.json
Due: pretty-quick --staged

fix: refine scrollSyncNavItem styles and enhance active item indicator
  lib/components/DualScrollSync/DualScrollSync.module.scss
Due: stylelint --fix

fix: add title attribute to content section label for better accessibility
  lib/components/DualScrollSync/DualScrollSync.tsx
Due: pretty-quick --staged, eslint --cache --fix

feat: add Storybook manager configuration and update preview parameters
  .storybook/manager.ts
  .storybook/preview.ts
Due: pretty-quick --staged, eslint --cache --fix

perf: update DualScrollSync stories with new mock data and refine rendering logic
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/stories/mocks/MockFilterGroups.tsx
Due: pretty-quick --staged, eslint --cache --fix

chore: rename changelog-types to changelog-sections for consistency
  release-please-config.json
Due: pretty-quick --staged

ci: add release workflow for npm publishing and update existing release logic
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none
