Repository dorixdev/react-dual-scroll-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): add DualScrollSyncNav component and its tests
  lib/components/DualScrollSync/DualScrollSyncNav/DualScrollSyncNav.test.tsx
  lib/components/DualScrollSync/DualScrollSyncNav/DualScrollSyncNav.tsx
  lib/components/DualScrollSync/DualScrollSyncNav/index.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): add DualScrollSyncNavItem component and its tests
  lib/components/DualScrollSync/DualScrollSyncNavItem/DualScrollSyncNavItem.test.tsx
  lib/components/DualScrollSync/DualScrollSyncNavItem/DualScrollSyncNavItem.tsx
  lib/components/DualScrollSync/DualScrollSyncNavItem/index.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): add DualScrollSyncLabel component and its tests
  lib/components/DualScrollSync/DualScrollSyncLabel/DualScrollSyncLabel.test.tsx
  lib/components/DualScrollSync/DualScrollSyncLabel/DualScrollSyncLabel.tsx
  lib/components/DualScrollSync/DualScrollSyncLabel/index.ts
Due: pretty-quick --staged, eslint --cache --fix

perf(DualScrollSync)!: refactor component structure and improve test coverage
  lib/components/DualScrollSync/DualScrollSync.test.tsx
  lib/components/DualScrollSync/DualScrollSync.tsx
  lib/components/DualScrollSync/index.ts
  lib/components/index.ts
  lib/index.ts
Due: pretty-quick --staged, eslint --cache --fix

fix(test): add mock functions and spy for useDualScrollSyncContext
  lib/setupTests.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): enhance documentation with usage patterns, props, and examples
  README.md
  lib/stories/DualScrollSync.docs.mdx
  lib/stories/DualScrollSync.stories.tsx
Due: pretty-quick --staged, eslint --cache --fix

fix(types): update type imports for consistency and clarity
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/hooks/useValidateChildren.test.tsx
  lib/hooks/useValidateChildren.ts
Due: pretty-quick --staged, eslint --cache --fix

chore(main): release 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 2.0.0 (#16)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

perf: make instances property of IntersectionObserverMock readonly
  lib/setupTests.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: make instances property of IntersectionObserverMock readonly (#17)
  lib/setupTests.ts
Due: pretty-quick --staged, eslint --cache --fix

ci: add SonarQube workflow for code quality analysis
  .github/workflows/sonar.yml
Due: none

chore: add SonarQube configuration for project analysis
  sonar-project.properties
Due: none

ci: add SonarQube workflow for code quality analysis (#18)
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

chore: refactor DualScrollSync types and imports for consistency
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/index.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: refactor DualScrollSync types and imports for consistency (#19)
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/index.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: update SonarQube workflow and configuration for improved code quality analysis
  .github/workflows/sonar.yml
  sonar-project.properties
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: update Node.js and pnpm version requirements in package.json and sonar.yml
  .github/workflows/sonar.yml
  package.json
Due: pretty-quick --staged

chore: update Node.js setup action to v4 in SonarQube workflow
  .github/workflows/sonar.yml
Due: none

chore: update SonarQube workflow and configuration for improved code quality analysis (#20)
  .github/workflows/sonar.yml
  package.json
  sonar-project.properties
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: add vitest ESLint plugin and update configuration for test files
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pretty-quick --staged, eslint --cache --fix

chore: update SonarQube configuration for improved source and test inclusions
  sonar-project.properties
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

test: update scrollToSectionView tests for clarity and consistency
  lib/utils/scrollToSectionView.test.ts
Due: pretty-quick --staged, eslint --cache --fix

test: update useValidateChildren tests to use async/await for clarity and consistency
  lib/hooks/useValidateChildren.test.tsx
Due: pretty-quick --staged, eslint --cache --fix

refactor: rename DualScrollSync to DualScrollSyncBase and update exports for clarity
  lib/components/DualScrollSync/DualScrollSync.test.tsx
  lib/components/DualScrollSync/DualScrollSync.tsx
  lib/components/DualScrollSync/index.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: fix tests issues for sonar (#21)
  eslint.config.js
  lib/components/DualScrollSync/DualScrollSync.test.tsx
  lib/components/DualScrollSync/DualScrollSync.tsx
  lib/components/DualScrollSync/index.ts
  lib/hooks/useValidateChildren.test.tsx
  lib/utils/scrollToSectionView.test.ts
  package.json
  pnpm-lock.yaml
  sonar-project.properties
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

chore(main): release 2.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 2.0.1 (#22)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(test): config is added to avoid false positives
  lib/hooks/useValidateChildren.test.tsx
  lib/setupTests.ts
  lib/utils/scrollToSectionView.test.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: simplify warning checks in useValidateChildren tests
  lib/hooks/useValidateChildren.test.tsx
  lib/setupTests.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: ensure no warnings are logged when items and children are valid
  .gitignore
  lib/hooks/useValidateChildren.test.tsx
Due: pretty-quick --staged, eslint --cache --fix

chore(test): update scrollToSectionView tests for clarity in expectations
  lib/utils/scrollToSectionView.test.ts
Due: pretty-quick --staged, eslint --cache --fix

chore: refactor child validation logic in useValidateChildren for improved clarity
  lib/hooks/useValidateChildren.ts
Due: pretty-quick --staged, eslint --cache --fix

fix: refactor child validation logic in useValidateChildren for improved clarity (#23)
  lib/hooks/useValidateChildren.ts
Due: pretty-quick --staged, eslint --cache --fix

chore(main): release 2.0.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 2.0.2 (#24)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

feat(types): update DualScrollSyncProps and DualScrollSyncLabelProps to include style and className
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/DualScrollSyncLabel/DualScrollSyncLabel.types.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(styles): add support for custom className and style in DualScrollSyncBase component
  lib/components/DualScrollSync/DualScrollSync.test.tsx
  lib/components/DualScrollSync/DualScrollSync.tsx
Due: pretty-quick --staged, eslint --cache --fix

feat(styles): add support for custom className and style in DualScrollSyncContent component
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.test.tsx
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.tsx
Due: pretty-quick --staged, eslint --cache --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,styled.ts}
  pretty-quick --staged: any of: *.{js,jsx,ts,tsx,md,html,json}
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
