Repository dorixdev/react-dual-scroll-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, pretty-quick --staged, eslint --cache --fix

feat: add Storybook manager config and improve component previews (#3)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .storybook/manager.ts
  .storybook/preview.ts
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/DualScrollSync.tsx
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/components/DualScrollSync/stories/mocks/MockFilterGroups.tsx
  release-please-config.json
Due: stylelint --fix, pretty-quick --staged, eslint --cache --fix

fix(ci): replace GITHUB_TOKEN to RELEASE_PLEASE_TOKEN
  .github/workflows/release-please.yml
Due: none

fix(ci): replace GITHUB_TOKEN to RELEASE_PLEASE_TOKEN (#4)
  .github/workflows/release-please.yml
Due: none

chore(main): release 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

fix(CI): update release-please action
  .github/workflows/release-please.yml
Due: none

fix(CI): update release-please action (#7)
  .github/workflows/release-please.yml
Due: none

chore(main): release 1.2.0 (#8)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

fix(CI): remove if present flag
  .github/workflows/release.yml
Due: none

chore: update and format CHANGELOG
  CHANGELOG.md
Due: pretty-quick --staged

fix: remove --if-present flag (#9)
  .github/workflows/release.yml
  CHANGELOG.md
Due: pretty-quick --staged

chore(main): release 1.2.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 1.2.1 (#10)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

fix: sort versions and add title
  CHANGELOG.md
Due: pretty-quick --staged

fix: sort versions and add title (#11)
  CHANGELOG.md
Due: pretty-quick --staged

chore(main): release 1.2.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 1.2.2 (#12)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

fix(styles): update background color variables for scroll sync components
  lib/components/DualScrollSync/DualScrollSync.module.scss
Due: stylelint --fix

feat(stories): add theming support and extended args for DualScrollSync component
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
Due: pretty-quick --staged, eslint --cache --fix

perf: dual-scroll-styles (#13)
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
Due: stylelint --fix, pretty-quick --staged, eslint --cache --fix

chore(main): release 1.2.3
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

chore(main): release 1.2.3 (#14)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: pretty-quick --staged

fix(DualScrollSync): improve visible items count logic and add null checks for refs
  lib/components/DualScrollSync/DualScrollSync.tsx
Due: pretty-quick --staged, eslint --cache --fix

chore(config): update coverage configuration to include and exclude specific patterns
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

test(hooks): add cleanup tests for timeout on nav item click and component unmount
  lib/hooks/useDualScrollSyncObserver.test.tsx
Due: pretty-quick --staged, eslint --cache --fix

refactor(hooks): simplify type definitions and improve key handling in intersection observer
  lib/hooks/useDualScrollSyncObserver.ts
Due: pretty-quick --staged, eslint --cache --fix

ci(release): update release-please configuration and improve changelog section naming
  .github/workflows/release-please.yml
  release-please-config.json
Due: pretty-quick --staged

chore(CHANGELOG): standardize section headers for consistency
  CHANGELOG.md
Due: pretty-quick --staged

chore(mocks): move mock components out of component folder
  lib/components/DualScrollSync/stories/DualScrollSync.docs.mdx
  lib/components/DualScrollSync/stories/DualScrollSync.stories.tsx
  lib/stories/mocks/MockChip.tsx
  lib/stories/mocks/MockContentSection.tsx
  lib/stories/mocks/MockFilterGroups.tsx
  lib/stories/mocks/MockFilterSection.tsx
  lib/stories/mocks/MockPriceInput.tsx
  lib/stories/mocks/index.ts
Due: pretty-quick --staged, eslint --cache --fix

chore(config): update ESLint and TypeScript configurations to improved module resolution and imports
  eslint.config.js
  tsconfig.json
  vite.config.ts
Due: pretty-quick --staged, eslint --cache --fix

style(DualScrollSync): add new SCSS modules for content, navigation, and labels
  lib/components/DualScrollSync/DualScrollSync.module.scss
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.module.scss
  lib/components/DualScrollSync/DualScrollSyncContentSection/DualScrollSyncContentSection.module.scss
  lib/components/DualScrollSync/DualScrollSyncLabel/DualScrollSyncLabel.module.scss
  lib/components/DualScrollSync/DualScrollSyncNav/DualScrollSyncNav.module.scss
  lib/components/DualScrollSync/DualScrollSyncNavItem/DualScrollSyncNavItem.module.scss
Due: stylelint --fix

feat(types): introduce new types for content, navigation, and labels
  lib/components/DualScrollSync/DualScrollSync.types.ts
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.types.ts
  lib/components/DualScrollSync/DualScrollSyncContentSection/DualScrollSyncContentSection.types.ts
  lib/components/DualScrollSync/DualScrollSyncLabel/DualScrollSyncLabel.types.ts
  lib/components/DualScrollSync/DualScrollSyncNav/DualScrollSyncNav.types.ts
  lib/components/DualScrollSync/DualScrollSyncNavItem/DualScrollSyncNavItem.types.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(hooks): implement useValidateChildren hook for validating Nav and Content sections
  lib/hooks/useValidateChildren.test.tsx
  lib/hooks/useValidateChildren.ts
Due: pretty-quick --staged, eslint --cache --fix

refactor(tests): update import paths in useDualScrollSyncObserver tests for consistency
  lib/hooks/useDualScrollSyncObserver.test.tsx
  lib/hooks/useDualScrollSyncObserver.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(contexts): add DualScrollSyncContext for managing scroll synchronization state
  lib/contexts/DualScrollSyncContext.ts
  lib/contexts/index.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(hooks): add useDualScrollSyncContext for accessing scroll synchronization context
  lib/hooks/useDualScrollSyncContext.test.tsx
  lib/hooks/useDualScrollSyncContext.ts
Due: pretty-quick --staged, eslint --cache --fix

chore(hooks): re-export useDualScrollSyncContext and useValidateChildren hooks
  lib/hooks/index.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): add DualScrollSyncContent component and its tests
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.test.tsx
  lib/components/DualScrollSync/DualScrollSyncContent/DualScrollSyncContent.tsx
  lib/components/DualScrollSync/DualScrollSyncContent/index.ts
Due: pretty-quick --staged, eslint --cache --fix

feat(DualScrollSync): add DualScrollSyncContentSection component and its tests
  lib/components/DualScrollSync/DualScrollSyncContentSection/DualScrollSyncContentSection.test.tsx
  lib/components/DualScrollSync/DualScrollSyncContentSection/DualScrollSyncContentSection.tsx
  lib/components/DualScrollSync/DualScrollSyncContentSection/index.ts
Due: pretty-quick --staged, eslint --cache --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,styled.ts}
  pretty-quick --staged: any of: *.{js,jsx,ts,tsx,md,html,json}
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
